<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1 class="header">Your Pragmatic Catalog</h1>
<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
  <% cache ['entry', product] do %>
    <div class="row">
      <div class="col-md-auto">
        <%=  image_tag(product.image_url , class: "mage")%>
      </div>
      <div class="col-md-5 col-10 col-xs-10 col-sm-9" style="margin-left: 25px;">
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><p><%= number_to_currency(product.price) %></p> </span>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
<% end %>